<html xmlns:th="http://www.thymeleaf.org">

<head>
<style>
    .navhov:hover{
        transition: 1s;
        background-color: gray;
    }
</style>
</head>

<body>

<div th:fragment="fragmentMenu">
    <div xmlns:th="http://www.thymeleaf.org">
        <nav class="h-menu bg-red fg-white " style=" height: 70px;background-color: #212121;z-index:3   ">

            <div class="nav-wrapper    " align="center">

                <ul id="nav-mobile" class="left hide-on-med-and-down me">

                    <li><a class="navbar-brand hoverable navhov" th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a class="nav-link hoverable navhov" th:href="@{/userInfo}">User Info</a>
                    </li>

                    <li>
                        <a class="nav-link hoverable navhov" th:href="@{/product}">Product</a>
                    </li>
                    <li>
                        <a class="nav-link hoverable navhov" th:href="@{/admin}">Admin</a>
                    </li>

                    <li>
                        <a class="nav-link hoverable navhov" th:if="${#request.userPrincipal == null}"
                           th:href="@{/registration}">Registration</a>
                    </li>

                    <li>
                        <a class="nav-link hoverable navhov" th:if="${#request.userPrincipal != null}" th:href="@{/stock}">Stock</a>
                    </li>

                </ul>
                <ul class="right hide-on-med-and-down">

                    <li>
                        <a class="nav-link hoverable waves-effect waves-light btn"
                           th:if="${#request.userPrincipal == null}" th:href="@{/login}"
                           style="background: #64dd17; border-radius: 30px; position:relative;right: 10px;">Login</a>
                    </li>

                    <li>
                        <a class="nav-link hoverable waves-effect waves-light btn"
                           th:if="${#request.userPrincipal != null}" th:href="@{/logout}"
                           style="background: #d50000;border-radius: 30px; position:relative;right: 10px; ">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

</body>

</html>
